vms = {
  tldh-17-01 = {
    hostname           = "tldh-17-01"
    host               = "172.16.9.17"
    network            = "APP-SERVER"
    ipv4_address       = "x.x.x.121"
    ipv4_prefix_length = 24
    ipv4_gateway       = "x.x.x.1"
    dns_servers        = ["x.x.x.10", "x.x.x.11"]
  }
}
