vms = {
  tldh-18-01 = {
    hostname           = "tldh-18-01"
    host               = "172.16.9.18"
    network            = "APP-SERVER"
    ipv4_address       = "x.x.x.131"
    ipv4_prefix_length = 24
    ipv4_gateway       = "x.x.x.1"
    dns_servers        = ["x.x.x.10", "x.x.x.11"]
  }
}
