vms = {
  vpn-01 = {
    hostname           = "vpn-01"
    host               = "172.16.9.15"
    network            = "VPN-SERVER"
    ipv4_address       = "x.x.x.101"
    ipv4_prefix_length = 24
    ipv4_gateway       = "x.x.x.1"
    dns_servers        = ["x.x.x.10", "x.x.x.11"]
  }
}
