# Inventory host lists.
ANSIBLE_ALL_TARGET_HOSTS=
ANSIBLE_SWARM_MANAGER_HOSTS=
ANSIBLE_SWARM_BACKEND_WORKER_HOSTS=
ANSIBLE_SWARM_FILE_SERVER_WORKER_HOSTS=
ANSIBLE_SWARM_CACHE_SERVER_EXT_HOSTS=
ANSIBLE_SWARM_CACHE_SERVER_EXT_TAGS=
ANSIBLE_SWARM_CACHE_SERVER_INT_HOSTS=
ANSIBLE_SWARM_CACHE_SERVER_INT_TAGS=
ANSIBLE_SWARM_LOGGER_HOSTS=
ANSIBLE_SSH_COPY_ID_EXTRA_HOSTS=
ANSIBLE_IPTABLES_HOSTS=
ANSIBLE_PACKAGE_UPDATE_HOSTS=
ANSIBLE_ZABBIX_SERVER_HOSTS=
ANSIBLE_ZABBIX_AGENT_HOSTS=
ANSIBLE_DNS_TIME_SERVER_HOSTS=
ANSIBLE_EXTERNAL_DISK_HOSTS=
ANSIBLE_TLDH_DATABASE_MASTER_HOST=
ANSIBLE_TLDH_DATABASE_SLAVE_HOSTS=
