# Prerequisite role.
ANSIBLE_TARGET_OS_FAMILY=Debian
ANSIBLE_TARGET_DISTRIBUTION=Ubuntu
ANSIBLE_PREREQUISITE_DISABLE_SWAP=true
ANSIBLE_PREREQUISITE_DISABLE_UFW=false
ANSIBLE_PREREQUISITE_TIMEZONE=
ANSIBLE_PREREQUISITE_INSTALL_FROM_LOCAL_REPO=true
ANSIBLE_PREREQUISITE_REPO_SOURCE=./repo/prerequisite
ANSIBLE_PREREQUISITE_REPO_DEST=/media/installation/prerequisite

# Docker role.
ANSIBLE_DOCKER_INSTALL_FROM_LOCAL_REPO=true
ANSIBLE_DOCKER_REPO_SOURCE=./repo/docker
ANSIBLE_DOCKER_REPO_DEST=/media/installation/docker

# Common iptables role.
ANSIBLE_IPTABLES_ENABLED=false
ANSIBLE_IPTABLES_TARGET_GROUP=iptables_targets
ANSIBLE_IPTABLES_SSH_WHITELIST_IPS=
ANSIBLE_IPTABLES_SSH_PORT=22
ANSIBLE_IPTABLES_SERVICE_ALLOWED_SOURCE_IPS="[]"
ANSIBLE_IPTABLES_EXTERNAL_SERVICE_RULES="[]"
ANSIBLE_IPTABLES_IP_PORT_RULES="[]"
ANSIBLE_IPTABLES_ZABBIX_SERVER_IPS="[]"
ANSIBLE_IPTABLES_ZABBIX_AGENT_PORT=10050
ANSIBLE_IPTABLES_ZABBIX_SERVER_PORT=10051
ANSIBLE_IPTABLES_DNS_TIME_SERVER_IPS="[]"
ANSIBLE_IPTABLES_DNS_TIME_CLIENT_SOURCES="[]"
ANSIBLE_IPTABLES_DNS_PORT=53
ANSIBLE_IPTABLES_TIME_PORT=123
ANSIBLE_IPTABLES_BLOCK_ENABLED=false
ANSIBLE_IPTABLES_BLOCK_CHAINS="[INPUT, OUTPUT]"

# Native MariaDB package cleanup.
ANSIBLE_MARIADB_REMOVE_TARGET_GROUP=all_targets
ANSIBLE_MARIADB_REMOVE_PACKAGES="[mariadb-server]"
ANSIBLE_MARIADB_REMOVE_SERVICES="[mariadb, mysql]"
ANSIBLE_MARIADB_REMOVE_PURGE=true
ANSIBLE_MARIADB_REMOVE_AUTOREMOVE=true
