# Prerequisite role.
ANSIBLE_TARGET_OS_FAMILY=Debian
ANSIBLE_TARGET_DISTRIBUTION=Ubuntu
ANSIBLE_PREREQUISITE_DISABLE_SWAP=true
ANSIBLE_PREREQUISITE_DISABLE_UFW=false
ANSIBLE_PREREQUISITE_TIMEZONE=
ANSIBLE_PREREQUISITE_INSTALL_FROM_LOCAL_REPO=true
ANSIBLE_PREREQUISITE_REPO_SOURCE=./repo/prerequisite
ANSIBLE_PREREQUISITE_REPO_DEST=/media/installation/prerequisite

# Docker role.
ANSIBLE_DOCKER_INSTALL_FROM_LOCAL_REPO=true
ANSIBLE_DOCKER_REPO_SOURCE=./repo/docker
ANSIBLE_DOCKER_REPO_DEST=/media/installation/docker

# Native MariaDB package cleanup.
ANSIBLE_MARIADB_REMOVE_TARGET_GROUP=all_targets
