# Hostname role.
ANSIBLE_HOSTNAME_MANAGE=false
ANSIBLE_HOSTNAME_VALUE=
ANSIBLE_HOSTNAME_DOMAIN=

# Network role.
ANSIBLE_NETWORK_MANAGE=false
ANSIBLE_NETWORK_INTERFACE=
ANSIBLE_NETWORK_IPV4_ADDRESS=
ANSIBLE_NETWORK_IPV4_PREFIX_LENGTH=24
ANSIBLE_NETWORK_IPV4_GATEWAY=
ANSIBLE_NETWORK_DNS_SERVERS="[]"
