# Dockerized DNS and time server role.
ANSIBLE_DNS_TIME_SERVICES_ENABLED=true
ANSIBLE_DNS_TIME_SERVICES_TARGET_GROUP=dns_time_servers
ANSIBLE_DNS_TIME_SERVICES_LOAD_IMAGES=true
ANSIBLE_DNS_TIME_SERVICES_BUILD_IMAGES=true
ANSIBLE_DNS_TIME_SERVICES_BASE_DIR=/opt/ansible-dns-time

ANSIBLE_DNS_SERVER_ENABLED=true
ANSIBLE_DNS_SERVER_IMAGE=local/bind9:offline
ANSIBLE_DNS_SERVER_IMAGE_TAR=./repo/docker-images/bind9.tar
ANSIBLE_DNS_SERVER_ALLOW_QUERY="[]"
ANSIBLE_DNS_SERVER_FORWARDERS="[]"
ANSIBLE_DNS_SERVER_ZONE_SERIAL=1
ANSIBLE_DNS_SERVER_ZONES="[]"

ANSIBLE_TIME_SERVER_ENABLED=true
ANSIBLE_TIME_SERVER_IMAGE=local/chrony:offline
ANSIBLE_TIME_SERVER_IMAGE_TAR=./repo/docker-images/chrony.tar
ANSIBLE_TIME_SERVER_TIMEZONE=Asia/Ho_Chi_Minh
ANSIBLE_TIME_SERVER_ALLOW="[]"
ANSIBLE_TIME_SERVER_UPSTREAM_SERVERS="[]"
ANSIBLE_TIME_SERVER_LOCAL_STRATUM=10

# NTP client role.
ANSIBLE_NTP_CLIENT_ENABLED=true
ANSIBLE_NTP_CLIENT_TARGET_GROUP=all_targets:!dns_time_servers
ANSIBLE_NTP_CLIENT_SERVERS="[]"
ANSIBLE_NTP_CLIENT_FALLBACK_SERVERS="[]"
