# External disk role.
ANSIBLE_EXTERNAL_DISK_ENABLED=true
ANSIBLE_EXTERNAL_DISK_TARGET_GROUP=external_disk_targets
ANSIBLE_EXTERNAL_DISK_DEVICE=/dev/sdb
ANSIBLE_EXTERNAL_DISK_PARTITION=/dev/sdb1
ANSIBLE_EXTERNAL_DISK_MOUNT_PATH=/mnt/data
ANSIBLE_EXTERNAL_DISK_FSTYPE=ext4
ANSIBLE_EXTERNAL_DISK_MOUNT_OPTS=defaults
ANSIBLE_EXTERNAL_DISK_CREATE_PARTITION=true
ANSIBLE_EXTERNAL_DISK_FORMAT=true

