# Docker Swarm role.
ANSIBLE_DOCKER_SWARM_ENABLED=true
ANSIBLE_DOCKER_SWARM_TARGET_GROUP=swarm_managers:swarm_workers
ANSIBLE_DOCKER_SWARM_MANAGER_GROUP=swarm_managers
ANSIBLE_DOCKER_SWARM_WORKER_GROUP=swarm_workers
ANSIBLE_DOCKER_SWARM_LISTEN_ADDR=
ANSIBLE_DOCKER_SWARM_PORT=2377
ANSIBLE_DOCKER_SWARM_FORCE_RESET=false
ANSIBLE_DOCKER_SWARM_LEAVE_FORCE=true
ANSIBLE_DOCKER_SWARM_MANAGER_ADDR=
ANSIBLE_DOCKER_SWARM_MANAGE_IPTABLES=false
ANSIBLE_DOCKER_SWARM_MANAGE_ENCRYPTED_OVERLAY_ESP=true
ANSIBLE_DOCKER_SWARM_MANAGE_IPSETS=true
ANSIBLE_DOCKER_SWARM_IPSET_PREFIX=swarm
ANSIBLE_DOCKER_SWARM_IPSET_MANAGERS_NAME=swarm_managers
ANSIBLE_DOCKER_SWARM_IPSET_NODES_NAME=swarm_nodes
ANSIBLE_DOCKER_SWARM_IPSET_SERVICE_CLIENTS_NAME=app_clients
ANSIBLE_DOCKER_SWARM_IPSET_LOGGER_NAME=syslog_nodes
ANSIBLE_DOCKER_SWARM_EXTERNAL_SERVICE_IPSET_NAMES="{database: mysql_nodes, storage: minio_nodes}"
ANSIBLE_DOCKER_SWARM_SERVICE_ALLOWED_SOURCE_IPS="[]"
inter_host=ens34
ANSIBLE_DOCKER_SWARM_SERVICE_HOST_INTERFACE=${inter_host}
ANSIBLE_DOCKER_SWARM_SERVICE_BRIDGE_INTERFACE=docker_gwbridge
ANSIBLE_DOCKER_SWARM_SERVICE_PORTS="[80]"
ANSIBLE_DOCKER_SWARM_SERVICE_PORTS_BY_HOST="{}"
ANSIBLE_DOCKER_SWARM_EXTERNAL_SERVICE_RULES="[]"
ANSIBLE_DOCKER_SWARM_EXTERNAL_SERVICE_RULES_BY_HOST="{}"
ANSIBLE_DOCKER_SWARM_LOGGER_NODE_TAG=logger
ANSIBLE_DOCKER_SWARM_LOGGER_PORT=514
ANSIBLE_DOCKER_SWARM_LOGGER_PROTOCOLS="[tcp, udp]"
ANSIBLE_DOCKER_SWARM_DOCKER_USER_DROP_ENABLED=false
ANSIBLE_DOCKER_SWARM_GROUP_LABELS="{}"
ANSIBLE_DOCKER_SWARM_NODE_LABELS="{}"
