# Docker Swarm role.
ANSIBLE_DOCKER_SWARM_ENABLED=true
ANSIBLE_DOCKER_SWARM_MANAGER_GROUP=swarm_managers
ANSIBLE_DOCKER_SWARM_WORKER_GROUP=swarm_workers
ANSIBLE_DOCKER_SWARM_LISTEN_ADDR=
ANSIBLE_DOCKER_SWARM_PORT=2377
ANSIBLE_DOCKER_SWARM_FORCE_RESET=false
ANSIBLE_DOCKER_SWARM_MANAGER_ADDR=
ANSIBLE_DOCKER_SWARM_MANAGE_IPTABLES=false
ANSIBLE_DOCKER_SWARM_IPTABLES_SOURCE_CIDR=
ANSIBLE_DOCKER_SWARM_MANAGE_ENCRYPTED_OVERLAY_ESP=false
ANSIBLE_DOCKER_SWARM_SERVICE_PORTS="[]"
ANSIBLE_DOCKER_SWARM_GROUP_LABELS="{}"
ANSIBLE_DOCKER_SWARM_NODE_LABELS="{}"
