# TLDH database role.
ANSIBLE_TLDH_DATABASE_ENABLED=true
ANSIBLE_TLDH_DATABASE_TARGET_GROUP=tldh_database_targets
ANSIBLE_TLDH_DATABASE_MASTER_GROUP=tldh_database_masters
ANSIBLE_TLDH_DATABASE_SLAVE_GROUP=tldh_database_slaves
ANSIBLE_TLDH_DATABASE_MASTER_HOST=
ANSIBLE_TLDH_DATABASE_SLAVE_HOSTS=
ANSIBLE_TLDH_DATABASE_BASE_DIR=/opt/tldh-data
ANSIBLE_TLDH_DATABASE_CONFIG_DIR=/opt/tldh-data/config
ANSIBLE_TLDH_DATABASE_DATA_DIR=/mnt/data/mysql
ANSIBLE_TLDH_DATABASE_IMAGE=registry.bcy.gov.vn/tldh/mariadb:10.7
ANSIBLE_TLDH_DATABASE_IMAGE_TAR=
ANSIBLE_TLDH_DATABASE_LOAD_IMAGE=false
ANSIBLE_TLDH_DATABASE_ROOT_PASSWORD=
ANSIBLE_TLDH_DATABASE_APP_USER=
ANSIBLE_TLDH_DATABASE_APP_PASSWORD=
ANSIBLE_TLDH_DATABASE_ROOT_HOST=%
ANSIBLE_TLDH_DATABASE_REPLICATION_USER=replica
ANSIBLE_TLDH_DATABASE_REPLICATION_PASSWORD=
ANSIBLE_TLDH_DATABASE_MASTER_PORT=3306
ANSIBLE_TLDH_DATABASE_MASTER_SERVER_ID=1
ANSIBLE_TLDH_DATABASE_SLAVE_SERVER_ID=2
