# Targeted package update role.
ANSIBLE_PACKAGE_UPDATE_ENABLED=true
ANSIBLE_PACKAGE_UPDATE_TARGET_GROUP=package_update_targets
ANSIBLE_PACKAGE_UPDATE_INSTALL_FROM_LOCAL_REPO=true
ANSIBLE_PACKAGE_UPDATE_REPO_SOURCE=./repo/update
ANSIBLE_PACKAGE_UPDATE_REPO_DEST=/media/installation/update
ANSIBLE_PACKAGE_UPDATE_CLEANUP_INSTALLATION_DIR=true
ANSIBLE_PACKAGE_UPDATE_INSTALLATION_DIR=/media/installation
ANSIBLE_PACKAGE_UPDATE_CACHE_VALID_TIME=3600
ANSIBLE_PACKAGE_UPDATE_ALLOW_DOWNGRADE=false
ANSIBLE_PACKAGE_UPDATE_PACKAGES="[{name: libssl3t64}, {name: openssl}, {name: inetutils-telnet}, {name: telnet}, {name: vim}, {name: vim-common}, {name: vim-runtime}, {name: vim-tiny}, {name: xxd}]"
