# Targeted package update role.
ANSIBLE_PACKAGE_UPDATE_ENABLED=true
ANSIBLE_PACKAGE_UPDATE_TARGET_GROUP=package_update_targets
ANSIBLE_PACKAGE_UPDATE_INSTALL_FROM_LOCAL_REPO=true
ANSIBLE_PACKAGE_UPDATE_REPO_SOURCE=./repo/update
ANSIBLE_PACKAGE_UPDATE_REPO_DEST=/media/installation/update
ANSIBLE_PACKAGE_UPDATE_CLEANUP_INSTALLATION_DIR=true
ANSIBLE_PACKAGE_UPDATE_INSTALLATION_DIR=/media/installation
ANSIBLE_PACKAGE_UPDATE_CACHE_VALID_TIME=3600
ANSIBLE_PACKAGE_UPDATE_ALLOW_DOWNGRADE=false
ANSIBLE_PACKAGE_UPDATE_PACKAGES="[{name: libssl3t64, version: 3.0.13-0ubuntu3.11}, {name: openssl, version: 3.0.13-0ubuntu3.11}, {name: inetutils-telnet, version: '2:2.5-3ubuntu4.2'}, {name: telnet, version: 0.17+2.5-3ubuntu4.2}, {name: vim, version: '2:9.1.0016-1ubuntu7.15'}, {name: vim-common, version: '2:9.1.0016-1ubuntu7.15'}, {name: vim-runtime, version: '2:9.1.0016-1ubuntu7.15'}, {name: vim-tiny, version: '2:9.1.0016-1ubuntu7.15'}, {name: xxd, version: '2:9.1.0016-1ubuntu7.15'}]"
