# Targeted package update role.
ANSIBLE_PACKAGE_UPDATE_ENABLED=true
ANSIBLE_PACKAGE_UPDATE_TARGET_GROUP=package_update_targets
ANSIBLE_PACKAGE_UPDATE_INSTALL_FROM_LOCAL_REPO=true
ANSIBLE_PACKAGE_UPDATE_REPO_SOURCE=./repo/update
ANSIBLE_PACKAGE_UPDATE_REPO_DEST=/media/installation/update
ANSIBLE_PACKAGE_UPDATE_CLEANUP_INSTALLATION_DIR=true
ANSIBLE_PACKAGE_UPDATE_INSTALLATION_DIR=/media/installation
ANSIBLE_PACKAGE_UPDATE_CACHE_VALID_TIME=3600
ANSIBLE_PACKAGE_UPDATE_ALLOW_DOWNGRADE=false
ANSIBLE_PACKAGE_UPDATE_PACKAGES="[{name: vim, version: '2:9.1.0016-1ubuntu7.15'}, {name: vim-common, version: '2:9.1.0016-1ubuntu7.15'}, {name: vim-runtime, version: '2:9.1.0016-1ubuntu7.15'}, {name: vim-tiny, version: '2:9.1.0016-1ubuntu7.15'}, {name: xxd, version: '2:9.1.0016-1ubuntu7.15'}, {name: python3-wheel, version: '0.42.0-2ubuntu0.1~esm1'}]"
ANSIBLE_PYTHON3_PIP_REMOVE_TARGET_GROUP=package_update_targets
ANSIBLE_PYTHON3_PIP_REMOVE_PACKAGES="[python3-pip]"
ANSIBLE_PYTHON3_PIP_REMOVE_PURGE=false
ANSIBLE_PYTHON3_PIP_REMOVE_AUTOREMOVE=true
