# Online build and offline bundle settings.
RUNTIME_IMAGE=
LOCAL_RUNTIME_IMAGE=ansible-base-runtime:local
ANSIBLE_CONTROL_OFFLINE=false
# false copies .env.example and env.d/*.env.example into the bundle.
# true copies real .env and env.d/*.env values into the bundle.
ANSIBLE_OFFLINE_BUNDLE_INCLUDE_REAL_ENV=false

ANSIBLE_DNS_TIME_SERVICES_BUILD_IMAGES=true
ANSIBLE_PREREQUISITE_DOWNLOAD_PACKAGES=true
ANSIBLE_PREREQUISITE_DOWNLOAD_IMAGE=ubuntu:24.04
ANSIBLE_PREREQUISITE_OFFLINE_PACKAGES="apt-transport-https ca-certificates curl gnupg ipset ipset-persistent iptables-persistent lsb-release net-tools netfilter-persistent openssh-client python3 python3-apt python3-pip rsync sshpass telnet traceroute unzip vim wget"
ANSIBLE_PACKAGE_UPDATE_REPO_SOURCE=./repo/update
ANSIBLE_PACKAGE_UPDATE_OFFLINE_PACKAGES="libssl3t64=3.0.13-0ubuntu3.11 openssl=3.0.13-0ubuntu3.11 inetutils-telnet=2:2.5-3ubuntu4.2 telnet=0.17+2.5-3ubuntu4.2 vim=2:9.1.0016-1ubuntu7.15 vim-common=2:9.1.0016-1ubuntu7.15 vim-runtime=2:9.1.0016-1ubuntu7.15 vim-tiny=2:9.1.0016-1ubuntu7.15 xxd=2:9.1.0016-1ubuntu7.15"
ANSIBLE_ZABBIX_AGENT_DOWNLOAD_PACKAGES=true
ANSIBLE_ZABBIX_AGENT_DOWNLOAD_IMAGE=ubuntu:24.04
ANSIBLE_ZABBIX_AGENT_RELEASE_URL=https://repo.zabbix.com/zabbix/7.0/ubuntu/pool/main/z/zabbix-release/zabbix-release_latest_7.0+ubuntu24.04_all.deb
ANSIBLE_ZABBIX_AGENT_OFFLINE_PACKAGES="zabbix-agent2"
ANSIBLE_ZABBIX_SERVER_DOWNLOAD_PACKAGES=true
ANSIBLE_ZABBIX_SERVER_REPO_SOURCE=./repo/zabbix-server
ANSIBLE_ZABBIX_SERVER_RELEASE_URL=https://repo.zabbix.com/zabbix/7.0/ubuntu/pool/main/z/zabbix-release/zabbix-release_latest_7.0+ubuntu24.04_all.deb
ANSIBLE_ZABBIX_SERVER_OFFLINE_PACKAGES="zabbix-server-pgsql zabbix-frontend-php php8.3-pgsql zabbix-nginx-conf zabbix-sql-scripts zabbix-agent systemd-sysv"
