[defaults]
inventory = inventories/customer-a/inventory.py
roles_path = roles
ansible_python_interpreter = /usr/bin/python3
host_key_checking = false
retry_files_enabled = false

[privilege_escalation]
become = true
become_method = sudo
